-# TODO:
#sidebar.container
  .checkboxs 
    %input#check{type: "checkbox"}
    %label{for: "check"}
      %i#btn
        = image_pack_tag 'element.png', height: 50
      %ul.sidebar
        Elements
    #sidebar-secondary.container
      %ul.sidebar
        Tee Shot
      %ul.sidebar
        Fairway
      %ul.sidebar
        Rough
      %ul.sidebar
        Recovery
      %ul.sidebar
        Sand
      %ul.sidebar
        Green
      %ul.sidebar
        Penalty
      %ul.sidebar
        Pick up
      %ul.sidebar
        Lake 
      %ul.sidebar
        Tree 
      %ul.sidebar
        Hole 
  .checkboxs 
    %i
      = image_pack_tag 'element.png', height: 50