body {
    
    background-color: whitesmoke;

    header {
        background-color: rgb(192, 117, 229);       
    }
    
}

footer {
    background-color: rgb(255, 237, 237);
}

#create, #display{
    background-image: url('images/golfcapture.png');
    background-color: lightblue;
    background-repeat: no-repeat;
    background-position-x: -250px;
    background-position-y: 50px;
    background-size: 0px;
    position: relative;
    overflow: hidden;
    // background-color: lightblue;
    width: 1000px;
    height: 800px;
    margin: auto;
    padding: 0px;
}

