$sidebar-bg: rgb(196, 196, 196);
$sidebar-sd-bg: rgb(186, 185, 185);
$sidebar-hover-color: #eedcd9;
$sidebar-hover-shadow: 0px 0px 2px rgb(79, 80, 80);

#sidebar {
  position: relative;
  // z-index:1;
  display: inline-block;
  width: 80px;
  left: -12px;
  background: $sidebar-bg;
  // transition: all .5s ease;
  height: 90vh;
  top: 0;
}

.checkboxs {
  display: inline-block;
  position: relative;
}

.sidebar {
  display: block;
  height: 30px;
  width: 100%;
  color: rgb(63, 62, 62);
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
  font-size: 13px;
//   margin-right: 16px;
  letter-spacing: 1px;
  text-align: center;
  
}


#check{
  display: none;
}

label #btn{
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 29px;
  text-align: center;
  // align-items: center;
  // transition: all .5s ease;
  float: middle;
  // position: fixed;
  // opacity: 0.5;
}


// #check:checked~#sidebar {
//   left: 0;
// }

#check:checked~label #btn {
  // margin-left: 100px;
  opacity: 0.5;
  // visibility: hidden;
}

#check:checked~#sidebar-secondary {
  left: 68px;
}

#sidebar-secondary {
  position: relative;
  // z-index: -1;
  display: inline-block;
  width: 100px;
  left: -150px;
  top: -80px;
  background: $sidebar-sd-bg;
  transition: all .5s ease;
  height: 90vh;
  // top: 0;
}