.content-container
  .row
    .col-md-7
      %h1
        Welcome to the #{content_tag(:u, "Shefco Golf Course")} !

      %p 
        Welcome to Shefco, the premier golf course that has been serving 
        golf enthusiasts for the past 200 years. Our meticulously maintained 
        greens and fairways offer a timeless challenge to players of all 
        skill levels. Come experience centuries of excellence in golf at Shefco.

    .col-md-5
      %image 
        = image_pack_tag 'home_pic.png', class: 'img-fluid'
      