%table.table.table-striped
  %thead 
    %tr 
      %th Course
      %th Path
      %th Holes

  %tbody
    - @courses.each do |course|
      %tr 
        %td= course.name
        %td= course.path
        %td
          .ms-auto.float-end
            = link_to 'show', course_holes_path(course), class: 'btn btn-outline-secondary ms-auto'
            = link_to 'edit', edit_course_path(course), class: 'btn btn-outline-secondary ms-auto'
